alabaster==0.7.16
annotated-types==0.6.0
anyio==4.2.0
apeye==1.4.1
apeye-core==1.1.4
appnope==0.1.3
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asttokens==2.4.1
async-lru==2.0.4
attrs==23.2.0
autodocsumm==0.2.12
Babel==2.14.0
beautifulsoup4==4.12.3
black==25.1.0
bleach==6.1.0
boltons==23.1.1
boolean.py==5.0
bracex==2.4
build==1.0.3
bump2version==1.0.1
bumpversion==0.6.0
CacheControl==0.13.1
certifi==2025.4.26
cffi==1.16.0
cfgv==3.4.0
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
click-extra==4.7.3
cloup==3.0.4
comm==0.2.1
commentjson==0.9.0
contourpy==1.2.0
coverage==7.8.2
cssutils==2.9.0
cycler==0.12.1
cyclonedx-python-lib==9.1.0
debugpy==1.8.0
decorator==5.1.1
defusedxml==0.7.1
dict2css==0.3.0.post1
distlib==0.3.8
docutils==0.20.1
domdf-python-tools==3.8.0.post2
exceptiongroup==1.2.0
execnet==2.0.2
executing==2.0.1
fastjsonschema==2.19.1
filelock==3.13.1
fonttools==4.47.2
fqdn==1.5.1
h11==0.16.0
h5py==3.10.0
html5lib==1.1
httpcore==1.0.9
httpx==0.28.1
hypothesis==6.131.31
identify==2.5.33
idna==3.10
imagesize==1.4.1
imohash==1.0.5
importlib-metadata==7.0.1
importlib-resources==6.1.1
iniconfig==2.0.0
ipykernel==6.29.0
ipython==8.18.1
isoduration==20.11.0
jaraco.classes==3.3.1
jedi==0.19.1
Jinja2==3.1.6
json5==0.9.14
jsonpointer==2.4
jsonschema==4.21.0
jsonschema-specifications==2023.12.1
jupyter-events==0.12.0
jupyter-lsp==2.2.2
jupyter_client==8.6.0
jupyter_core==5.7.1
jupyter_server==2.16.0
jupyter_server_terminals==0.5.1
jupyterlab==4.4.3
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
keyring==24.3.0
kiwisolver==1.4.5
lark-parser==0.7.8
license-expression==30.4.1
Markdown==3.5.2
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.8.2
matplotlib-inline==0.1.6
mdit-py-plugins==0.4.0
mdurl==0.1.2
mergedeep==1.3.4
mistune==3.0.2
mmh3==4.1.0
more-itertools==10.2.0
msgpack==1.0.7
mypy-extensions==1.0.0
myst-parser==2.0.0
natsort==8.4.0
nbclient==0.9.0
nbconvert==7.14.2
nbformat==5.9.2
nest-asyncio==1.5.9
nh3==0.2.15
nodeenv==1.8.0
notebook_shim==0.2.3
numpy==1.26.3
overrides==7.4.0
packageurl-python==0.16.0
packaging==23.2
Pallets-Sphinx-Themes==2.1.1
pandocfilters==1.5.0
parso==0.8.3
pathspec==0.12.1
pexpect==4.9.0
pillow==11.2.1
pip-api==0.0.34
pip-requirements-parser==32.0.1
pip_audit==2.9.0
pkginfo==1.9.6
platformdirs==4.3.8
pluggy==1.3.0
pre-commit==3.6.0
prometheus-client==0.19.0
prompt-toolkit==3.0.43
psutil==5.9.7
ptyprocess==0.7.0
pure-eval==0.2.2
py-serializable==2.0.0
pycparser==2.22
pydantic==2.5.3
pydantic_core==2.14.6
Pygments==2.17.2
pygments-ansi-color==0.3.0
pyparsing==3.1.1
pyproject_hooks==1.0.0
pytest==7.4.4
pytest-cov==6.1.1
pytest-xdist==3.5.0
python-dateutil==2.8.2
python-json-logger==2.0.7
PyYAML==6.0.1
pyzmq==25.1.2
readme-renderer==42.0
referencing==0.32.1
regex==2023.12.25
reportlab==4.1.0
requests==2.32.3
requests-toolbelt==1.0.0
rfc3339-validator==0.1.4
rfc3986==2.0.0
rfc3986-validator==0.1.1
rich==13.7.0
rpds-py==0.17.1
rst2pdf==0.101
ruamel.yaml==0.18.5
ruamel.yaml.clib==0.2.8
scipy==1.11.4
Send2Trash==1.8.2
setuptools==80.9.0
six==1.16.0
smartypants==2.0.1
sniffio==1.3.0
snowballstemmer==2.2.0
sortedcontainers==2.4.0
soupsieve==2.5
Sphinx==7.2.6
sphinx-autodoc-typehints==1.25.2
sphinx-click==5.1.0
sphinx-copybutton==0.5.2
sphinx-jinja2-compat==0.2.0.post1
sphinx-jsonschema==1.19.1
sphinx-notfound-page==1.0.0
sphinx-prompt==1.8.0
sphinx-rtd-theme==2.0.0
sphinx-tabs==3.4.5
sphinx-term==0.1
sphinx-toolbox==3.5.0
sphinxcontrib-applehelp==1.0.8
sphinxcontrib-devhelp==1.0.6
sphinxcontrib-htmlhelp==2.0.5
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.7
sphinxcontrib-serializinghtml==1.1.10
stack-data==0.6.3
structlog==24.1.0
tabulate==0.9.0
terminado==0.18.0
termynal==0.11.1
testbook==0.4.2
tinycss2==1.2.1
toml==0.10.2
tomli==2.0.1
tornado==6.5.1
tqdm==4.67.1
traitlets==5.14.1
twine==5.0.0
types-python-dateutil==2.8.19.20240106
typing_extensions==4.9.0
uri-template==1.3.0
urllib3==2.4.0
varint==1.0.2
virtualenv==20.31.2
wcmatch==8.5
wcwidth==0.2.13
webcolors==1.13
webencodings==0.5.1
websocket-client==1.7.0
wheel==0.45.1
xmltodict==0.13.0
zipp==3.17.0
