aiohttp==3.8.4
aiosignal==1.3.1
alabaster==0.7.13
ansi2html==1.8.0
anyio==3.6.2
appnope==0.1.3
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
asttokens==2.2.1
async-lru==2.0.4
async-timeout==4.0.2
attrs==22.2.0
Babel==2.12.1
backcall==0.2.0
beautifulsoup4==4.12.2
binaryornot==0.4.4
black==23.3.0
bleach==5.0.1
boltons==23.0.0
bracex==2.4
certifi==2022.12.7
cffi==1.15.1
cfgv==3.4.0
chardet==5.1.0
charset-normalizer==3.0.1
click==8.1.7
click-extra==4.7.1
cloup==3.0.2
colorama==0.4.6
colored==2.2.3
comm==0.1.2
commentjson==0.9.0
contourpy==1.0.7
cookiecutter==2.1.1
cruft==2.12.0
cycler==0.11.0
debugpy==1.6.5
decorator==5.1.1
defusedxml==0.7.1
distlib==0.3.6
doc==0.1.0
docopt==0.6.2
docutils==0.18.1
entrypoints==0.4
et-xmlfile==1.1.0
exceptiongroup==1.1.3
execnet==2.0.2
executing==1.2.0
fastjsonschema==2.16.2
filelock==3.10.0
fire==0.5.0
fonttools==4.38.0
fqdn==1.5.1
frozenlist==1.3.3
future==0.18.3
gitdb==4.0.10
GitPython==3.1.31
greenlet==2.0.2
h5py==3.8.0
h5tree==1.0
hovercraft==2.7
identify==2.5.27
idna==3.4
imagesize==1.4.1
imohash==1.0.5
importlib-metadata==6.0.0
importlib-resources==6.0.1
iniconfig==2.0.0
ipykernel==6.20.1
ipython==8.8.0
ipython-genutils==0.2.0
ipywidgets==8.0.5
isoduration==20.11.0
jedi==0.18.2
Jinja2==3.1.2
jinja2-time==0.2.0
json5==0.9.11
jsonpointer==2.3
jsonschema==4.17.3
jsonschema-specifications==2023.7.1
jupyter==1.0.0
jupyter-cache==0.6.1
jupyter-console==6.6.3
jupyter-events==0.6.3
jupyter-lsp==2.2.0
jupyter_client==8.3.1
jupyter_core==5.1.3
jupyter_server==2.7.3
jupyter_server_terminals==0.4.4
jupyterlab==4.0.5
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.6
jupyterlab_server==2.20.0
jupyterthemes==0.20.0
kiwisolver==1.4.4
lark-parser==0.7.8
lesscpy==0.15.1
lxml==4.9.2
Markdown==3.4.4
markdown-it-py==3.0.0
MarkupSafe==2.1.1
matplotlib==3.7.2
matplotlib-inline==0.1.6
mdit-py-plugins==0.4.0
mdurl==0.1.2
mergedeep==1.3.4
mistune==0.8.4
mmh3==4.0.1
multidict==6.0.4
mypy-extensions==1.0.0
myst-parser==2.0.0
nbclassic==0.4.8
nbclient==0.6.8
nbconvert==6.5.4
nbextension-cellfolding==0.0.3
nbformat==5.7.3
nbmake==1.4.3
nest-asyncio==1.5.6
nodeenv==1.8.0
notebook==6.5.2
notebook_shim==0.2.2
notedown==1.5.1
numpy==1.23.5
opc-diag==1.0.0
openai==0.27.0
openpyxl==3.0.10
overrides==7.4.0
packaging==23.0
Pallets-Sphinx-Themes==2.1.1
pandas==1.5.2
pandoc-attributes==0.1.7
pandocfilters==1.5.0
parso==0.8.3
pathspec==0.11.1
pbr==5.11.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.4.0
pip-licenses==4.3.2
pipreqs==0.4.13
platformdirs==2.6.2
pluggy==1.3.0
plumbum==1.8.2
ply==3.11
pptx2md==1.3.0
pre-commit==3.4.0
prettytable==3.8.0
prometheus-client==0.15.0
prompt-toolkit==3.0.36
psutil==5.9.4
ptyprocess==0.7.0
pure-eval==0.2.2
py==1.11.0
pycparser==2.21
pygitrepo==1.0.7
Pygments==2.14.0
pygments-ansi-color==0.3.0
PyMuPDF==1.21.1
pypandoc-binary==1.11
pyparsing==3.0.9
PyPDF2==3.0.1
pyrsistent==0.19.3
pytest==7.4.2
pytest-mock==3.11.1
pytest-xdist==3.3.1
python-dateutil==2.8.2
python-json-logger==2.0.4
python-pptx==0.6.21
python-slugify==8.0.1
pytz==2022.6
PyYAML==6.0
pyzmq==25.0.0
qtconsole==5.4.1
QtPy==2.3.0
rapidfuzz==3.0.0
referencing==0.30.2
regex==2023.10.3
reportlab==4.0.4
requests==2.28.2
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rpds-py==0.10.2
rst2pdf==0.101
rstdiff==0.5.2
scipy==1.10.0
seaborn==0.12.2
Send2Trash==1.8.2
six==1.16.0
smartypants==2.0.1
smmap==5.0.0
sniffio==1.3.0
snowballstemmer==2.2.0
soupsieve==2.3.2.post1
Sphinx==6.2.1
sphinx-click==5.0.1
sphinx-copybutton==0.5.2
sphinx-notfound-page==1.0.0
sphinx-rtd-theme==1.3.0
sphinx-term==0.1
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.1
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.9
SQLAlchemy==2.0.20
stack-data==0.6.2
stevedore==5.0.0
structlog==23.1.0
svg.path==6.2
tabulate==0.9.0
termcolor==2.2.0
terminado==0.17.1
termynal==0.11.1
testbook==0.4.2
text-unidecode==1.3
tinycss2==1.2.1
tk==0.1.0
tomli==2.0.1
tornado==6.2
tqdm==4.64.1
traitlets==5.8.1
typer==0.7.0
types-python-dateutil==2.8.19.14
typing_extensions==4.5.0
tzdata==2023.3
uri-template==1.2.0
urllib3==1.26.14
varint==1.0.2
virtualenv==20.21.0
virtualenv-clone==0.5.7
virtualenvwrapper==4.8.4
voila==0.5.2
watchdog==3.0.0
wcmatch==8.5
wcwidth==0.2.6
webcolors==1.12
webencodings==0.5.1
websocket-client==1.4.2
websockets==10.4
widgetsnbextension==4.0.6
XlsxWriter==3.1.0
xmltodict==0.13.0
yarg==0.1.9
yarl==1.8.2
ydiff==1.2
zipp==3.11.0
